body {
    font-family: 'BMEULJIRO';
    margin: 0;
    background-color: rgb(255, 255, 255);
}
article {
    display: flex;
    flex-direction: column;
}
.start {
    background-color: white;
    max-width: 600px;
    margin: 0% auto;
}
.question {
    display: none;
    background-color: white;
    max-width: 600px;
    margin: 0% auto;
    font-size: 20px;
    color: black    
}
#title {
    font-size: 20px;
}
.result {
    margin: 0% auto;
    background-color: white;
    display: none;
    width: 100%;
    max-width: 600px;
    margin: 0% auto;
}
.progress {
    margin-top: 25%;
}
.share {
    margin: 0% auto;
    margin-top: 5%;
}
#img {
    width: 100%;
    max-width: 600px;
    margin: 0% auto;
}
#AA {
    width: 280px;
    height: 80px;
    border-radius: 20px;
    margin: 0 auto;
    top: 100%;
    border: 1px solid #000000;
    font-size: 20px;
}
#A {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #000000;
}
#B {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #000000;
}
#buy {
    margin: 0% auto;
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: 1.3px solid #34d0f7;
    background-color: rgb(232, 255, 255);
}
#link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#restart {
    margin: 0% auto;
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 236, 236);
    margin-top: 15px;
    margin-bottom: 5%;
    font-size: 18px;
}
#other {
    margin: 0% auto;
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 236, 236);
    margin-bottom: 5%;
    font-size: 18px;
}
#test {
    text-decoration: none;
    font-size: 18px;
    color: black
}
#illust {
    margin: 0% auto;
    color: rgb(192, 192, 192);
}
#mealkitkorea {
    margin: 0% auto;
    text-decoration: none;
    color: rgb(192, 192, 192);
}
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}